@font-face {
  font-family: "Montserrat-Medium";

  src: url("../fonts/Montserrat-Medium.otf");
}
html {
  font-family: Montserrat-Medium;
}
header {
  min-width: 960px;
  height: 450px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu__item {
  list-style-type: none;
  text-transform: uppercase;
  font-family: Montserrat-Medium;
  font-size: 10px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 45px;
}
.menu__item a {
  text-decoration: none;
}
.menu__item a:visited {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.menu__item__logo {
  margin-right: auto;
  margin-left: 0px;
  margin-top: 38px;
  cursor: default;
}
.menu__item__logo:hover {
  cursor: default;
}
.menu__item:hover {
  color: #10c9c3;
  cursor: pointer;
}
a:visited:hover {
  color: #10c9c3;
  cursor: pointer;
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 98px;
  padding-left: 98px;
}
.banner {
  min-width: 960px;
  height: 350px;
  font-family: Montserrat-Medium;
  background-image: url(../img/aboutWoman.jpg);
  background-repeat: no-repeat;
  background-size: 100% 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 80px;
  margin: 0 auto;
  margin-top: 105px;
}
.banner__head {
  font-size: 30px;
  color: #fff;
  width: 520px;
}
.banner__content {
  color: #fff;
  font-size: 16px;
  width: 530px;
}
.banner__button {
  width: 180px;
  height: 55px;
  text-align: center;
  margin-top: 0px;
  background-color: #10c9c3;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #fff;
}
.banner__button:hover {
  background-color: #39b4af;
}

.about__container {
  font-family: Montserrat-Medium;
  min-width: 960px;
  height: 570px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.about__image {
  width: 760px;
  height: 570px;
}
.about__photo {
  width: auto;
  height: 570px;
}
.about__content {
  width: 435px;
  display: flex;
  flex-direction: column;
}
.about__content__text {
  margin-top: 35px;
  line-height: 30px;
  color: #787878;
}
.about__content__head {
  font-size: 30px;
  margin-bottom: -10px;
  margin-top: 110px;
}
.about__content__sign {
  width: 223px;
  height: 57px;
  margin: 0 auto;
  margin-top: 35px;
  align-self: flex-end;
}
.project__container {
  min-width: 960px;
  height: auto;
  margin: 110px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
.project__text {
  color: #787878;
  width: 610px;
  text-align: center;
}

.project__button {
  width: 180px;
  height: 55px;
  text-align: center;
  margin-top: 0px;
  letter-spacing: 1.2px;
  background-color: #10c9c3;
  cursor: pointer;
  outline: none;
  border: 0;
  font-weight: bold;
  color: #fff;
  margin-top: 35px;
  text-transform: uppercase;
}
.project__button:hover {
  background-color: #39b4af;
}

.numbers__container {
  height: 240px;
  min-width: 960px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #10c9c3;
  margin: 0 auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.number__item {
  display: flex;
  width: 250px;
  flex-direction: row;
}
.number__item__icon {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 5px;
  transform: scale(1.2);
}
.number__item__value {
  margin-bottom: 5px;
}

footer {
  min-width: 960px;
  height: auto;
  margin: 0 auto;
  background-color: #000;
}
.footer__menu {
  padding: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__head {
  color: #fff;
  margin-bottom: 32px;
}
.footer__menu__item {
  color: #bcbcbc;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-grow: 1;
}
.footer__span {
  margin-bottom: 15px;
}
.footer__mail {
  margin-left: 225px;
  flex-grow: 10;
  align-self: center;
  justify-content: center;
}
.footer__left__col {
  margin-left: 100px;
}
.footer__span:hover {
  color: #fff;
  cursor: pointer;
}
