@font-face {
  font-family: "Montserrat-Medium";

  src: url("../fonts/Montserrat-Medium.otf");
}
html {
  font-family: Montserrat-Medium;
}
header {
  min-width: 960px;
  height: 413px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu__item {
  list-style-type: none;
  text-transform: uppercase;
  font-family: Montserrat-Medium;
  font-size: 10px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 45px;
}
.menu__item a {
  text-decoration: none;
}
.menu__item a:visited {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.menu__item a:visited:hover {
  color: #10c9c3;
  cursor: pointer;
}

.menu__item__logo {
  margin-right: auto;
  margin-left: 0px;
  margin-top: 38px;
  cursor: default;
}
.menu__item__logo:hover {
  cursor: default;
}
.menu__item:hover {
  color: #10c9c3;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 98px;
  padding-left: 98px;
}
.banner {
  width: 380px;
  height: 312px;
  font-family: Montserrat-Medium;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 105px;
}
.banner__head {
  font-size: 30px;
  width: 520px;
}
.banner__content {
  color: #787878;
  font-size: 16px;
  width: 530px;
}
.banner__button {
  width: 180px;
  height: 55px;
  text-align: center;
  margin-top: 0px;
  background-color: #10c9c3;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #fff;
}
.banner__button:hover {
  background-color: #39b4af;
}
.about__container {
  margin: 0 auto;
  min-width: 960px;
  height: 420px;
  font-family: Montserrat-Medium;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__head__h2 {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.about__content__parag {
  margin: 0 auto;
  font-size: 13px;
  color: #787878;
  width: 590px;
  height: 85px;
  word-spacing: 0.2em;
  text-align: center;
}
.about__signature {
  width: 223px;
  height: 57px;
  margin: 0 auto;
}
.work-container {
  min-width: 960px;
  height: auto;
  margin: 0 auto;
}
.work__row__ul,
.work__row__ul__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
}
.work__row__ul__item {
  display: block;
  width: 25%;
  height: 400px;
  position: relative;
  margin: 0;
  padding: 0;
}

.work__row__ul__item__image {
  width: 100%;
  height: 100%;
  margin: 0;
}
.work__row__ul__item__describe {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #10c9c3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.work__row__ul__item:hover .work__row__ul__item__describe {
  opacity: 0.7;
}

.describe__eye {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 25%;
}
.work__span__button {
  font-family: Montserrat-Medium;
  font-size: 15px;
  text-transform: uppercase;
  background-color: Transparent;
  background-repeat: no-repeat;
  width: 1366px;
  height: 100px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.work__span__button:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.6;
}
.worl {
  display: block;
}
.work__process__container {
  width: 1366px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work__process__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work__process__head {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.work__process__video {
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}
.work__process__content {
  text-align: center;
  width: 570px;
  color: #787878;
  margin-bottom: 60px;
}

footer {
  min-width: 960px;
  height: auto;
  margin: 0 auto;
  background-color: #000;
}
.footer__menu {
  padding: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__head {
  color: #fff;
  margin-bottom: 32px;
}
.footer__menu__item {
  color: #bcbcbc;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-grow: 1;
}
.footer__span {
  margin-bottom: 15px;
}
.footer__mail {
  margin-left: 225px;
  flex-grow: 10;
  align-self: center;
  justify-content: center;
}
.footer__left__col {
  margin-left: 100px;
}
.footer__span:hover {
  color: #fff;
  cursor: pointer;
}
